<div class="container-fluid">
	<div class="row-fluid">

		<div class="span10">
			<!--Body content-->

			<h2 style="margin-right: 5px">Instance groups administration</h2>
			
			<form>
				Name : <input type="text" placeholder="instance name" ng-model="group.name" >
				<button class="btn btn-small btn-primary" ng-click="add()" type="button">Add</button>
			</form>

			<table class="table table-hover">
				<thead>
					<tr>
						<th colspan="2">Group name</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="group in groups">
						<td>{{group.name}}</td> 
							<td><button class="btn btn-mini icon-trash icon-white" ng-click="remove(group.id)">Delete</button></td>
					</tr>
				</tbody>
			</table>

		</div>
		
		
		<button class="btn" ng-click="test()">Test</button>	
		{{testResult}}
	</div>
</div>
