<div class="container-fluid">
	<div class="row-fluid">

		<div class="span10">
			<!--Body content-->

			<h2 style="margin-right: 5px">Instances administration</h2>

			<table class="table table-hover">
				<thead>
					<tr>
						<th>Instance name</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="instance in instances">
						<td>{{instance.name}}</td>
					</tr>
				</tbody>
			</table>

		</div>
	</div>
</div>
