<div class="container-fluid">
  <div class="row-fluid">

    <div class="span10">
      <!--Body content-->
	  
	  <h2 style="margin-right:5px">Instances</h2>
	  &nbsp;
      <ul class="instances">
        <li ng-repeat="instance in instances">
          <a href="#/instance/{{instance.name}}">{{instance.name}}</a>
        </li>
      </ul>
      
    </div>
  </div>
</div>
