<div class="container-fluid">
  <div class="row-fluid">

    <div class="span10">
      <!--Body content-->
	
	  <h2 style="margin-right:5px">Endpoints for {{instanceName}}</h2>
	  &nbsp;
      <ul class="endpoints">
	    <li ng-repeat="endpoint in endpoints | orderBy:'name'">
          <a href="#/statistics/endpoint/{{endpoint.id}}">{{endpoint.name}}</a>
        </li>
		
      </ul>

    </div>
  </div>
</div>