<div class="container-fluid">
  <div class="row-fluid">

<h2 style="margin-right:5px">Endpoint informations</h2>
    <!-- div class="span10"-->
      <!--Body content-->
        <div class="form-horizontal">
        <div class="control-group">
       		<label class="control-label">Name : </label>
       		<div class="controls">
        		{{endpoint.name}} 
        	</div>
        	<label class="control-label">Owning Channel : </label>
        	 <div class="controls">
        		{{endpoint.owningChannel}}
        	</div>
        </div>
        </div>

        <div ng-show="error=='UNDEFINED'">
        	<h2 style="margin-right:5px">Endpoint statistics</h2>
        	<p class="info-msg">Ooops an error occured !!</p>
        </div>
         
        <div ng-show="error=='DATA_UNAVAILABLE'" class="nodata" >
        	<h2 style="margin-right:5px">Endpoint statistics</h2>
        	<p class="info-msg">This endpoint have never been call.<br> We have nothing to show you</p>
        </div>
        
        <div ng-show="error==''">
	        <div style="width: 48%; float:left;">
		        <h2 style="margin-right:5px">Calls state distribution</h2>
		        <div id="container2" style="min-width: 100px; height: 400px; width:100%; margin: 0 auto"></div>
	        </div>
	        
	        <div style="width: 48%; float:right;">
		        <h2 style="margin-left:5px">Response time (Mock)</h2>
		        <div id="reponseTimeContainer" style="min-width: 100px; height: 400px; width:100%; margin: 0 auto"></div>
	        </div>
	          
	        <div style="clear:both">
	        <h2>Endpoint timeline</h2>
	        <div id="container" style="min-width: 310px; width:100%; height: 400px; margin: 0 auto"></div>
        </div>
     </div>      
      
    <!-- /div-->
  </div>
</div>
