h2 {
	border-bottom: solid lightgray 1px;
	padding-bottom: 15px;
	font-weight: normal;
	color:#666;
	font-family: 'proxima-nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.container-fluid{
	color:#474a54;
	line-size:14px;
	/*font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;*/
	font-weight: 300;
	font-size: 14px;
	-webkit-font-smoothing: antialiased;
}

label{
	float: left;
	width: 150px;
	text-align: right;
	font-size: 14px;
}

.form-horizontal {
	margin-top:15px;
	margin-bottom: 30px;	
}

.info-msg{
	text-align: center;
	margin: 120px 0;
	font-size: 25px;
	color: #a3a3a3;
}

.nodata{

}

.nodata .info-msg{
	background-image: url("../img/loupe-medium.png");
	background-repeat: no-repeat;
	line-height: 36px;
	height: 130px;
	vertical-align: bottom;
	background-position-x: 16px;
	padding: 45px 0 0 134px;
	width: 525px;
	margin: 30px auto;
}



.form-horizontal .controls{
	line-height: 18px;
	padding: 5px;
	margin-left: 150px;
}